@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Hoş Geldiniz</h1>
    <br /> <br />
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod,
    iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. </p>           
</div>
