@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>
    Kişisel Bilgilerin Toplanması
    Sitemizi kullanırken, belirli kişisel bilgileri toplamamız gerekebilir. Bu bilgiler, adınız, soyadınız vb. içerebilir. Bu bilgileri, sitemizin belirli hizmetlerini kullanırken veya bizimle iletişime geçtiğinizde toplayabiliriz.
    <br /> <br />
    Kişisel Bilgilerin Kullanımı
    Kişisel bilgilerinizi aşağıdaki amaçlar için kullanabiliriz:
    <br /> <br />
    a. Sitemizin işleyişini sağlamak. <br />
    b. Size hizmetler sunmak ve taleplerinizi karşılamak. <br />
    c. Sitemizin geliştirilmesi ve iyileştirilmesi için istatistiksel analizler yapmak. <br />
    d. Sitemizdeki içeriği ve reklamları kişiselleştirmek. <br />
    e. Hesabınıza erişimi sağlamak ve hesabınızı yönetmek. <br />
    f. Size Sitemizdeki güncellemeler ve haberler hakkında bilgi vermek. <br />
    g. Yasal gerekliliklere uymak ve hukuki amaçlar için kişisel bilgilerinizi kullanmak. <br />
    <br /> <br />
    Kişisel Bilgilerin Paylaşılması
    Kişisel bilgilerinizi üçüncü taraflarla paylaşmamız gerektiğinde, bunu yalnızca aşağıdaki durumlar için yaparız:
    <br /> <br />
    a. Hizmet sağlayıcıları: Sitemizin işleyişi için yardımcı olan hizmet sağlayıcılarına kişisel bilgilerinizi iletebiliriz. Ancak, bu sağlayıcılar kişisel bilgilerinizi yalnızca belirli amaçlar için kullanabilirler ve gizliliğinizi koruma taahhüdüne sahip olmalıdırlar.
    <br />
    b. Yasal gereklilikler: Kişisel bilgilerinizi yasal bir zorunluluk nedeniyle ifşa edebiliriz, bu durumda talepleri yerine getirme amacıyla gereken bilgileri paylaşırız.
    <br /> <br />
    Çerezler ve İzleme Teknolojileri
    Sitemiz, çerezler ve benzeri izleme teknolojilerini kullanabilir. Bu teknolojiler, site kullanımınızı analiz etmek, tercihlerinizi hatırlamak ve Sitemizin performansını iyileştirmek için kullanılır. Çerezleri kabul etmeyi veya reddetmeyi tercih edebilirsiniz, ancak çerezleri reddetmek, Sitemizin bazı özelliklerinin işlevsiz hale gelmesine neden olabilir.
    <br /> <br />
    Güvenlik
    Kişisel bilgilerinizi korumak için makul fiziksel, elektronik ve yönetimsel güvenlik önlemlerini alıyoruz. Ancak, internet üzerinden iletilen verilerin tam güvenliğini garanti edemeyiz ve herhangi bir güvenlik ihlali durumunda gerekli yasal bildirimleri yaparız.
    <br /> <br />
    Değişiklikler ve Güncellemeler
    Bu Gizlilik Politikası zaman zaman güncellenebilir. Bu nedenle, bu sayfayı düzenli olarak kontrol etmek önemlidir. Politika değişikliklerini sitemizde duyuracağız ve değişiklikler yürürlüğe girdiğinde, yeni politikaları kabul etmiş sayılacaksınız.
    <br /> <br />
    İletişim Bilgileri
    Bu Gizlilik Politikası ile ilgili herhangi bir sorunuz veya geri bildiriminiz varsa, lütfen aşağıdaki iletişim bilgilerini kullanarak bizimle iletişime geçin:
    <br />
    ibrahimhalil9520@gmail.com
    <br /> <br />
    Bu Gizlilik Politikası, Sitemizi nasıl kullandığınız ve kişisel bilgilerinizin nasıl işlendiği hakkında size bilgi vermek amacıyla hazırlanmıştır. Gizliliğinizi ciddiye alırız ve kişisel bilgilerinizi koruma konusundaki taahhüdümüzü yerine getirmek için gereken tüm önlemleri alırız.
</p>
